@font-face {
    font-family: Multicolore;
    src: url("./Multicolore.otf") format("opentype");
}
body{
  background-repeat: no-repeat;
font-family: "Multicolore";
background: linear-gradient(-90deg, rgb(66, 21, 71),#2b243b,#272423);
color:white;
/*background: linear-gradient(-90deg, #fff,#edefda,#bdd4a1,#ead497,#de5b36);*/
}
/* possible background-image with hell fire*/
#background-image{
  opacity: 0.9;
  position: fixed;
  top:70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("/fire.jpg");
  background-size: cover;
  mix-blend-mode: luminosity;
  -webkit-mix-blend-mode: luminosity;
  -moz-mix-blend-mode: luminosity;
  -o-mix-blend-mode: luminosity;
  -ms-mix-blend-mode: luminosity;
}

li img{

  width:3em;
  flex-grow:1;
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  transition: all ease 1s;
}
.li1{
  background-color: #a52d2d;
}
.li2{
  background-color: #2f7b0e;
}
.li3{
  background-color: #e8c853;
}
.li4{
  background-color: #276db1;
}
.li5{
  background-color: #a432b3;
}

#resList{
  list-style: none;
  width: 45vw;
  text-align: left;
  display: inline-block;
  position: relative;
}
.badge{
  background-color: rgb(66, 21, 71);
  border-radius: 50%;
  display: inline-block;
  color:white;
  line-height: 2em;
  text-align: center;
  position: relative;
  height: 2em;
  width: 2em;
  left:-10%;
  top:-200%;
}
.hidden{
  display: none;
}
#cleanlogDiv{
  border: 1px solid white;
  border-radius: 3px;
  height: 95vh;
  overflow-y: scroll;
  width: 90vw;
  display: inline-block;
  background-color: rgb(66, 21, 71);
  color: white;
  position: relative;
}
ul{
  list-style: none;
}
#cleanlogUl li{
    margin: 0.5em;
    text-shadow: 1px 1px black;
    border: 1px solid white;
    padding: 10px;
    border-radius: 4px;
}
#modalCleaned{
  opacity: 0.93;
  background-color: rgb(66, 21, 71);
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  text-align: center;
  font-family: Helvetica;
  z-index: 2;
}
#modTitle{
  font-size: 40px;
  font-weight: 100;
}
#modalCleaned ul{
  width: 50%;
  margin: 1em auto;
}
#modalCleaned li{
  font-size: 1.5em;
  margin: 1em auto;
  line-height: 2em;
}
#modalCleaned li:hover{
  opacity: 0.6;
}
@media screen and (min-width: 500px){
    li img {
      width: 6em;
    }

    #modalCleaned li{
      font-size: 1.5em;
      line-height: 4em;
    }
    #cleanlogDiv{
      width: 30vw;
      left: 20%;
    }
    #resList{
      top: -10vh;
    }
}
