body{
  overflow: hidden;
  background: linear-gradient(left,grey,green);
}

li img{

  max-width:100px;
  flex-grow:1;
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  border-width: 1px;

}
#resList{
  list-style: none;
  width: 45vw;
  text-align: center;
  display: inline-block;
}
.badge{
  background-color: cadetblue;
  border-radius: 50%;
  display: inline-block;
  color:white;
  line-height: 2em;
  text-align: center;
  position: relative;
  height: 2em;
  width: 2em;
  left:-10%;
  top:-200%;
}
.hidden{
  display: none;
}
#cleanlogDiv{
  height: 95vh;
  overflow-y: scroll;
  width: 45vw;
  display: inline-block;
  background-color: #333333;
  color: white;
}
#modalCleaned{
  opacity: 0.93;
  background-color: rgb(78,234,78);
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  text-align: center;
  font-family: Helvetica;

}
#modTitle{
  font-size: 40px;
  font-weight: 100;
}
#modalCleaned ul{
  width: 50%;
  margin: 1em auto;
}
#modalCleaned li{
  font-size: 1.5em;
  margin: 1em auto;
  line-height: 4em;
  background-color: rgb(168,184,202);
}
#modalCleaned li:hover{
  opacity: 0.6;
}
